<?xml version="1.0" encoding="utf-8"?>
<!--
 Rocrail - Model Railroad Software

 Copyright (C) 2002-2010 - Rob Versluis <r.j.versluis@rocrail.net>

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.rocrail.androc"
      android:versionCode="67"
      android:versionName="0.1">
    <application android:icon="@drawable/rocrail" android:label="@string/app_name" >
    <!--application android:icon="@drawable/rocrail" android:theme="@android:style/Theme.NoTitleBar"-->
        <activity android:name=".andRoc" 
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Connect" />
        <activity android:name=".activities.Throttle" />
        <activity android:name=".activities.System" />
        <activity android:name=".activities.Menu" />
        <activity android:name=".activities.Layout" />
        <activity android:name=".activities.LocoProps" />
        <activity android:name=".activities.Level" />
        <activity android:name=".activities.Info" />
        <service android:name=".RocrailService"/>
        <activity android:name=".activities.BlockProps" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--uses-sdk android:minSdkVersion="3" /-->

</manifest> 